.search_wrapper {
    position: relative;
    width: 512px;
}

.search_icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 14px;
}

.search_bar {
    width: 90%;
    padding: 10px 20px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    background-color: white;
}