/* Refundstatus.css */
.refund-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 4px;
  border-radius: 4px; /* Slight rounding to match the overall design */
}

.refund-status-label {
  font-size: 12px;
  font-weight: 500;
  color: #757575; /* Gray color for "Pending:" label */
  margin-right: 4px; /* Space between label and value */
}

.refund-status-value {
  font-size: 12px;
  font-weight: 500;
  color: #08B61A; /* Green color for "0" */
  
  padding: 4px 10px;
  border-radius: 20px; /* Rounded corners for the value badge */
}